{% extends 'WebberigBackendBundle:_Layouts:main.html.twig' %}
{% import 'WebberigSharedBundle:Macros:Buttons.html.twig' as Button %}

{% block pagetitle  %}
    {% if language.id is empty %}Nieuwe taal{% else %}{{ language.name }}{% endif %}
{% endblock %}

{% block pageheader %}
    <h1>{% if language.id is empty %}Nieuwe taal{% else %}{{ language.name }}{% endif %}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ path('webberig_cms_language_list') }}">Talen</a></li>
        <li class="active">{% if language.id is empty %}Nieuwe taal{% else %}{{ language.name }}{% endif %}</li>
    </ul>
{% endblock %}

{% block body %}
    {% set formId = 'frmLanguage' %}
    <form method="POST">
        <fieldset>
            <legend>Algemeen</legend>
                <div class="row">
                    <div class="col-sm-6">
                        {{ 'name'|fText({label: 'Naam', value: language.name, formId: formId}) }}
                        {{ 'sequence'|fText({label: 'Volgorde',value: language.sequence, formId: formId}) }}
                        {{ 'active'|fCheckbox({label: 'Actief',value: language.active, formId: formId}) }}
                    </div>
                    <div class="col-sm-6">
                        {{ 'abbreviation'|fText({label: 'Code',value: language.abbreviation, formId: formId}) }}
                        {{ 'isocode'|fText({label: 'Isocode',value: language.isocode, formId: formId}) }}
                    </div>
                </div>
        </fieldset>
        <div class="form-actions">
            {% if language.id is not empty %}
            {{ Button.LinkDanger('Verwijderen', "#", formId ~ '-Delete', 'icon-remove') }}
            {% endif %}
            {{ Button.Submit() }}
        </div>
    </form>
{% endblock %}
{% block javascripts %}
    {% if language.id is not empty %}
    <script>
        $("#frmLanguage-Delete").click(function(e)
        {
            e.preventDefault();
            bootbox.confirm("<h4>Taal '{{ language.name }}' verwijderen</h4>Bent u zeker?", function(result)
            {
                if (result == true)
                {
                    window.location = '{{ path('webberig_cms_language_delete', {language: language.abbreviation}) }}';
                }
            });
        })
    </script>
    {% endif %}
{% endblock %}