{% extends 'WebberigBackendBundle:_Layouts:main.html.twig' %}
{% import 'WebberigSharedBundle:Macros:Buttons.html.twig' as Button %}

{% block pagetitle 'Talen' %}

{% block pageheader %}
    <h1>Talen</h1>
    <div class="buttons">
        {{ Button.LinkInfo('Taal toevoegen', path('webberig_cms_language_new'), '', 'glyphicon-plus') }}
    </div>
{% endblock %}
{% block body %}
    <table class="table table-striped" id="tblUsers">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Code</th>
            </tr>
        </thead>
        <tbody>
        {% for language in languages %}
            <tr class="selectable">
                <td><a href="{{ path('webberig_cms_language_edit', {language: language.abbreviation}) }}">{{ language.name }}</a></td>
                <td>{{ language.abbreviation }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}