{% extends 'WebberigBackendBundle:_Layouts:main.html.twig' %}
{% import 'WebberigSharedBundle:Macros:Buttons.html.twig' as Button %}

{% block pagetitle category.name %}

{% block pageheader %}
    <h1>{{ category.name }}</h1>
    <ul class="breadcrumb">
        <li>Site content</li>
        <li class="active">{{ category.name }}</li>
    </ul>
    <div class="buttons">
        {{ Button.LinkInfo('Nieuw item', path('webberig_cms_content_new', {category: category.slug, language: language.abbreviation}), '', 'glyphicon-plus') }}
        {% if languages|length > 1 %}
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                {{ language.name }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                {% for item in languages %}
                    {% if item.id != language.id %}
                        <li><a href="{{ path('webberig_cms_content_list', {category: category.slug, language: item.abbreviation}) }}">{{ item.name }}</a></li>
                    {% endif %}
                {% endfor %}
                <!-- dropdown menu links -->
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block body %}


    <table class="table table-striped" id="tblUsers">
        <thead>
            <tr>
                <th>Naam</th>
                {% if category.useUrl %}
                    <th>URL</th>
                {% endif %}
                {% if category.usedate %}
                    <th>Datum</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td><a href="{{ path('webberig_cms_content_edit', {category: category.slug, language: language.abbreviation, page: page.id}) }}">{{ page.title }}</a></td>
                {% if category.useUrl %}
                    <td><a href="{{ path('webberig_cms_content_edit', {category: category.slug, language: language.abbreviation, page: page.id}) }}">{{ page.fullUrl }}</a></td>
                {% endif %}
                {% if category.usedate %}
                    <td>{{ page.itemDate|date('d/m/Y') }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}