{% extends 'WebberigBackendBundle:_Layouts:main.html.twig' %}
{% import 'WebberigSharedBundle:Macros:Buttons.html.twig' as Button %}

{% block pagetitle  %}
    {% if page.id is not empty %}{{ page.title }}{% else %}Nieuw item{% endif %}
{% endblock %}
{% block pageheader %}
    <h1>{% if page.id is not empty %}{{ page.title }}{% else %}Nieuw item{% endif %}</h1>
    <ul class="breadcrumb">
        <li>Site content</li>
        <li><a href="{{ path('webberig_cms_content_list', {category: category.slug, language: language.abbreviation}) }}">{{ category.name }}</a></li>
        <li class="active">{% if page.id is not empty %}{{ page.title }}{% else %}Nieuwe pagina{% endif %}</li>
    </ul>
    <div class="buttons">

    </div>
{% endblock %}

{% block body %}

    {% set formId = 'frmPageEdit' %}
    <form method="POST">
        <div class="row">
            <div class="col-sm-6">
                <fieldset>
                    <legend>Algemeen</legend>
                    {{ 'title'|fText({label: 'Titel',value: page.title, formId: formId}) }}
                    {% if category.useURL %}
                        {{ 'url'|fText({label: 'URL', value: page.url, formId: formId}) }}
                    {% endif %}
                    {% if category.useSubtitle1 %}
                        {{ 'subtitle1'|fText({label: category.subtitle1Label, value: page.subtitle1, formId: formId}) }}
                    {% endif %}
                    {% if category.useSubtitle2 %}
                        {{ 'subtitle1'|fText({label: category.subtitle2Label, value: page.subtitle2, formId: formId}) }}
                    {% endif %}
                    {{ 'active'|fCheckbox({label: 'Actief',value: page.active, formId: formId}) }}
                </fieldset>
            </div>
            <div class="col-sm-6">
                {% if category.useMETA %}
                    <fieldset>
                        <legend>META</legend>
                        {{ 'description'|fText({value: page.description, label: 'Description', formId: formId}) }}
                    </fieldset>
                {% endif %}
                {% if category.useDate or category.useDateRange %}
                    <fieldset>
                        <legend>Periode</legend>
                        {% if category.useDate %}
                            {{ 'itemdate'|fDate({value: page.itemdate|date('d/m/Y'), label: 'Publicatiedatum', formId: formId}) }}
                        {% endif %}
                        {% if category.useDateRange %}
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ 'startdate'|fDate({value: page.startdate|date('d/m/Y'), label: 'Startdatum', formId: formId}) }}
                                </div>
                                <div class="col-lg-6">
                                {{ 'stopdate'|fDate({value: page.stopdate|date('d/m/Y'), label: 'Einddatum', formId: formId}) }}
                                </div>
                            </div>
                        {% endif %}
                    </fieldset>
                {% endif %}

            </div>
        </div>
        {% if category.useIntro %}
        <fieldset>
            <legend>Introductie</legend>
            {{ 'intro'|fWysiwyg({value: page.intro, formId: formId}) }}
            <br />
        </fieldset>
        {% endif %}
        {% if category.useContent %}
        <fieldset>
            <legend>Inhoud</legend>
            {{ 'content'|fWysiwyg({value: page.content, formId: formId}) }}
            <br />
        </fieldset>
        {% endif %}


        {% if category.useGallery and page.id is not empty %}
            <div class="cms-gallery">
                <legend><span class="btn btn-info btn-xs pull-right">
                                    <i class="glyphicon glyphicon-plus"></i> Foto's toevoegen
                                    <input type="file" class="upload" name="files[]" multiple="" data-url="{{ path('webberig_cms_content_upload', {category: category.slug, language: language.abbreviation, page: page.id }) }}">
                                </span>Foto's
                </legend>
                {#
                <div class="dropzone">
                    Sleep hier foto's om ze toe te voegen...
                </div>
                #}
                <div class="items">

                    {% for img in gallery %}
                        <div class="item">
                            <img src="{{ image(img).zoomCrop(200,200) }}" />
                            <button type="button" data-url="{{ path('webberig_cms_content_image_delete', {category: category.slug, language: language.abbreviation, page: page.id, img: img|split('/')|last }) }}" class="btn btn-danger btn-xs delete"><i class="glyphicon glyphicon-trash"></i></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="form-actions">
            {% if page.id is not empty %}
                {{ Button.LinkDanger('Verwijderen', path('webberig_cms_content_delete', {category: category.slug, language: language.abbreviation, page: page.id}), formId ~ '-Delete', 'icon-remove') }}
            {% endif %}
            {{ Button.Submit() }}
        </div>


    </form>

{% endblock %}
{% block javascripts %}
    {% include 'WebberigCKEditorBundle:Configs:ckeditor.html.twig' %}
    <script>
        $(".cms-gallery").on("click", ".delete", function() {
            var $this = $(this),
                item = $this.closest(".item");

            item.slideUp();
            $.ajax({
                url: $this.data("url")
            }).done(function() {
                item.remove();
            }).fail(function() {
                item.slideDown();
            });
        })

    </script>
{% endblock %}