.cms-gallery
{
  /*
  .dropzone {
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px dotted @gray;
    height: 50px;
  }
  */


  span.btn {
    position: relative;
    overflow: hidden;

    input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      opacity: 0;
      -ms-filter: 'alpha(opacity=0)';
      font-size: 200px;
      direction: ltr;
      cursor: pointer;
    }
  }
  .items {
    .clearfix();
  }
  .item {
    width: 202px;
    height: 202px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    position: relative;

    button.btn-danger {
      position: absolute;
      top: 10px;
      right: 10px;
      opacity: 0;
      background-color: white;
      color: @brand-danger;
    }
    &:hover {
      button.btn-danger {
        opacity: 1;
        .transition(opacity 0.4s);


      }
    }
  }
}