ol.sortable
{
  margin: 0;
  padding: 0;

  li
  {
    list-style: none;
    margin-bottom: 5px;
    div
    {
      padding: 5px 7px;
      border: 1px solid @gray-lighter;
      &:hover
      {
        border: 1px solid fade(@brand-primary, 60%);
        background-color: white;
        cursor: pointer;
      }
    }
    &.placeholder
    {
        border: none;
        background-color: fade(black, 5%);
    }
    &.ui-sortable-helper div
    {
      background-color: fade(@brand-primary, 60%);
      color: white;
    }
    .selectable.selected {
      background-color: @brand-success;
      color: white;
      border: 1px solid darken(@brand-success, 5%);
      &:hover {
        border: 1px solid darken(@brand-success, 10%);
        background-color: @brand-success;
      }
    }
  }
  ol
  {
    margin-top: 5px;
  }
}