{% extends 'WebberigBackendBundle:_Layouts:main.html.twig' %}
{% import 'WebberigSharedBundle:Macros:Buttons.html.twig' as Button %}

{% block pagetitle 'Menubeheer' %}

{% block pageheader %}
    {% if menugroups|length > 1 %}
        <ul class="nav nav-pills pull-right">
            {% for group in menugroups %}
                <li{% if group.id == menugroup.id %} class="active"{% endif %}>
                    <a href="{{ path('webberig_cms_menu_list', {menuId: group.id, languageId: language.abbreviation}) }}">{{ group.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Menubeheer</h1>
    <div class="buttons">
        <button class="btn btn-info" id="btnAddNew" data-menu-label="Nieuw item" data-menu-action="{{ path('webberig_cms_menu_save_new', {menuId: menugroup.id, languageId: language.abbreviation}) }}"><i class="glyphicon glyphicon-plus"></i> Item toevoegen</button>
        {% if languages|length > 1 %}
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                {{ language.name }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                {% for item in languages %}
                    {% if item.id != language.id %}
                        <li><a href="{{ path('webberig_cms_menu_list', {menuId: menugroup.id, languageId: item.abbreviation}) }}">{{ item.name }}</a></li>
                    {% endif %}
                {% endfor %}
                <!-- dropdown menu links -->
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <legend>Menu-items</legend>
            <ol class="sortable">
                {% for item in menus %}
                    <li id="menuItem_{{ item.id }}">
                        <div class="selectable"
                             data-menu-label="{{ item.name }}"
                             data-menu-action="{{ path('webberig_cms_menu_save', {menuId: menugroup.id, languageId: language.abbreviation, itemId: item.id}) }}"
                             data-menu-delete="{{ path('webberig_cms_menu_delete', {menuId: menugroup.id, languageId: language.abbreviation, itemId: item.id}) }}"
                             {% if item.page is not null %}data-menu-page="{{ item.page.id }}"{% endif %}
                             data-menu-name="{{ item.name }}"
                        >{{ item.name }}</div>
                        {% set subMenu = item.getSubmenus() %}
                        {% if subMenu is not empty %}
                            <ol>
                                {% for item in subMenu %}
                                    <li id="menuItem_{{ item.id }}">
                                        <div class="selectable"
                                             data-menu-label="{{ item.name }}"
                                             data-menu-action="{{ path('webberig_cms_menu_save', {menuId: menugroup.id, languageId: language.abbreviation, itemId: item.id}) }}"
                                             data-menu-delete="{{ path('webberig_cms_menu_delete', {menuId: menugroup.id, languageId: language.abbreviation, itemId: item.id}) }}"
                                             {% if item.page is not null %}data-menu-page="{{ item.page.id }}"{% endif %}
                                             data-menu-name="{{ item.name }}"
                                        >{{ item.name }}</div>
                                        {% set subMenu = item.getSubmenus() %}
                                        {% if subMenu is not empty %}
                                            <ol>
                                                {% for item in subMenu %}
                                                    <li id="menuItem_{{ item.id }}">
                                                        <div class="selectable"
                                                             data-menu-label="{{ item.name }}"
                                                             data-menu-action="{{ path('webberig_cms_menu_save', {menuId: menugroup.id, languageId: language.abbreviation, itemId: item.id}) }}"
                                                             data-menu-delete="{{ path('webberig_cms_menu_delete', {menuId: menugroup.id, languageId: language.abbreviation, itemId: item.id}) }}"
                                                             {% if item.page is not null %}data-menu-page="{{ item.page.id }}"{% endif %}
                                                             data-menu-name="{{ item.name }}"
                                                        >{{ item.name }}</div>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-sm-6">
            {% set formId = 'frmMenuItem' %}
            <form method="POST" id="{{ formId }}">
                <legend>Nieuw item</legend>
                {{ 'name'|fText({label: 'Naam', value: '', formId: formId}) }}
                {{ 'page'|fSelectbox({label: 'Pagina',value: null, formId: formId, data: pages}) }}
                {#
                {{ 'url'|fText({label: 'URL',value: '', formId: formId}) }}
                #}
                <div class="form-actions">
                    {{ Button.LinkDanger('Verwijderen', "#", formId ~ '-Delete', 'icon-remove') }}
                    {{ Button.Submit() }}
                </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
<script>
    $(function()
    {
        Cms.MenuEdit.config.sequenceUrl = '{{ path('webberig_cms_menu_setsequence', {'menuId': menugroup.id, languageId: language.abbreviation}) }}';
        Cms.MenuEdit.init();
    });
</script>
{% endblock %}